NEXT_PUBLIC_API_BASE_URL=https://your-backend-domain.vercel.app/api
NEXT_PUBLIC_CLOUDINARY_URL=https://api.cloudinary.com/v1_1/dkuwefj17/image/upload
NEXT_PUBLIC_CLOUDINARY_UPLOAD_PRESET=kure_pharma_upload
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=dkuwefj17

NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your-nextauth-secret-here
