VITE_APP_API_BASE_URL=https://your-backend-domain.vercel.app/api
VITE_APP_CLOUDINARY_URL=https://api.cloudinary.com/v1_1/dkuwefj17/image/upload
VITE_APP_CLOUDINARY_UPLOAD_PRESET=kure_pharma_upload
VITE_APP_CLOUDINARY_CLOUD_NAME=dkuwefj17
VITE_APP_CLOUD_NAME=dkuwefj17
